.qlDot {
  height: 44px;
  width: 44px;
  background-color: #009845;
  border-radius: 50%;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: center;
  color: white;
}

.qlContainer {
  visibility: visible;
}

.qv-object-qwik-variable .qv-inner-object {

  overflow: visible;
  visibility: hidden;
}

.qv-object-qwik-variable {
  position: relative;
  z-index: 2000;
}